


.chapche {

    display: flex;
    justify-content: center;
    align-items: center;
}

.cami {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}



html {
    background-color: lavender;
}
*{
    margin:0;
    padding:1;
}
/* @font-face{
    font-family: Arial;
} */
.jessica{
    font-size: 60px;
    font-family: 'Shippori Mincho', serif;
    color: violet;
    text-decoration: cornflowerblue;
}
header{
    font-size: 20px;
    font-family: 'Shippori Mincho', serif;
    color: violet;
    text-decoration: cornflowerblue;
}
body{
    font-size: 20px;
}
.paragraph-1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: lighter;
    font-style: italic;
    color: brown;
    letter-spacing: 2px;
    text-align: center;
    word-spacing: 5px;
}
h1{ 
    padding: 12px 50px 7px 80px;
}
.foto-flor { 
height: 200px;
width: 200px;
}
.foto1 {
    height: 200px;
    width: 200px;
}
.foto2 {
    height: 200px;
    width: 200px;
}
.foto3 {
    height: 200px;
    width: 200px;
}
.foto4 {
    height: 200px;
    width: 200px;
}
.foto5 {
    height: 200px;
    width: 200px;
}